/* * { 
  margin : 0;
  padding: 0;
  box-sizing : border-box;
  font-familly : "Poppins", sans-serif;
} */
/* body {
  display : flex;
  align-items : center;
  justify-content : center;  
  background-color: #43345d;
  min-height : 800px;
} */

.container {
  position : relative;
  width : 1100px;
  display : grid;
  grid-template-columns : repeat(4,1fr);
  column-gap: 5rem;
  row-gap: 7rem;
  padding : 30px;  
  margin-top: 8%;
}

.container .card {
  position: relative;
  width : 310px;
  height : 260px;  
  background-color : #0b1314 ;
  margin : 30px 10px;
  padding : 20px 15px;
  
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
.container .card:hover {
  height : 340px;    
  width: 310px;
}


.container .card .image {
  position : relative;
  width : 260px;
  height : 260px;
  top : -40%;
  left: 10px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}

.container .card .image img {
  min-width : 100%;
  max-height: 260px;
  border-radius : 15px;
}

.container .card .content {
  position : relative;
  top : -140px;
  padding : 10px 15px;
  color : #c6e9f8;
  text-align : center;
  
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
    
}

.container .card:hover .content {
   margin-top : 35px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
  
}

.container .card .content h3 {
  font-size : 1.5rem;
  font-weight : 500;
  margin-bottom : 10px;
  margin-top: 10px;
  color: #0095DA
}