.swiper-container{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items:center ;
    margin-top: 5%;
}
.swiper{
    /* background-color: aqua; */
    width: 75%;

}
.swiper-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.swiper-slide img{
    height: 750px;
    width: 100%;
    object-fit: cover;
}
.swiper-button-prev{
    color: rgb(71, 79, 92);
}
.swiper-button-next{
    color: rgb(71, 79, 92);
}